.A1 {
    grid-area: A1;
    background: #fe6347;
}

.A2 {
    grid-area: A2;
    background: #4581b3;
}

.A3 {
    grid-area: A3;
    background: #3cb371;
}

.cat {
    grid-area: cat;
    background: #ffa500;
}

.B1 {
    grid-area: B1;
    background: #989047;
}

.E123 {
    grid-area: E123;
    background: #e07e8b;
}

.B2 {
    grid-area: B2;
    background: #da6fd5;
}

.C1 {
    grid-area: C1;
    background: #9470dc;
}

.C2 {
    grid-area: C2;
    background: #6594ec;
}

.D1 {
    grid-area: D1;
    background: #57a188;
}

.D2 {
    grid-area: D2;
    background: #db123c;
}

.D3 {
    grid-area: D3;
    background: #86cdf9;
}

.F1 {
    grid-area: F1;
    background: #20b0a9;
}

.ZZ {
    grid-area: ZZ;
}