.A1 {
    background: #fe6347;
}

.A2 {
    background: #4581b3;
}

.A3 {
    background: #3cb371;
}

.cat {
    background: #ffa500;
}

.B1 {
    background: #989047;
}

.E123 {
    background: #e07e8b;
}

.B2 {
    background: #da6fd5;
}

.C1 {
    background: #9470dc;
}

.C2 {
    background: #6594ec;
}

.D1 {
    background: #57a188;
}

.D2 {
    background: #db123c;
}

.D3 {
    background: #86cdf9;
}

.F1 {
    background: #20b0a9;
}