.A1 {
  grid-area: A1;
}

.A2 {
  grid-area: A2;
}

.A3 {
  grid-area: A3;
}

.cat {
  grid-area: cat;
}

.B1 {
  grid-area: B1;
}

.E123 {
  grid-area: E123;
}

.B2 {
  grid-area: B2;
}

.B3 {
  grid-area: B3;
}

.C1 {
  grid-area: C1;
}

.C2 {
  grid-area: C2;
}

.C3 {
  grid-area: C3;
}

.D1 {
  grid-area: D1;
}

.D2 {
  grid-area: D2;
}

.D3 {
  grid-area: D3;
}

.F1 {
  grid-area: F1;
}

.F2 {
  grid-area: F2;
}

.F3 {
  grid-area: F3;
}

.G12 {
  grid-area: G12;
}

.ZZ {
  grid-area: ZZ;
}
